<ion-content>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
        <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Label</ion-label>
        <ion-input></ion-input>
    </ion-item>
  </ion-content>
